//common
html{
	color: #fff;
}
a{
	color: #fff;
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}
//
#fullpage{
	.page1,.page2,.page3,.page4,.page5{
		width: 1024px;
		margin: 0 auto;
	}
	.page1{
		img{
			width: 250px;
			height: 250px;
			border-radius: 50%;
			float: left;
		}
		.info{
			float: left;
			margin-left: 100px;
			.name{}
			.intro{}
			.link{}
		}
	}
}